.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.item-place {
  font-weight: 600;
  background-color: gray;
  color: white;
  margin-right: .2rem;
  padding: .2rem .5rem;
  border-radius: 5px;
}